{# Example component #}

{% if example %}
<div class="component component--example">
  <h3 class="font-bold text-lg text-example mb-2">{{ example.title }}</h3>
  {{ example.content | safe }}
</div>
{% endif %}
